body{
background-color:#f6f6f6;
}

.cropped2 {
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divWelcome{
  text-align: center;
  background: radial-gradient(red, yellow, rgb(30, 150, 255));
  background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg);
  padding: 10%;
  background-size: 100% 100%;
  color: #F0FFFF;
  font: 30px Arial, sans-serif;
  
  
  /* 
  This is a crazy font border 
  thanks to: https://stackoverflow.com/questions/2570972/css-font-border
  */
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  
  
}

#bigHeading{
  text-transform: uppercase;
}

.linkTable{
  margin-left: auto;
  margin-right: auto;
  width:370px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
  font: 30px Arial, sans-serif;
  
}




a:link {
  color: red;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
