.lw { font-size: 60px; }

.div1{
  background-color: #E0FFFF ;
  border: 5px solid grey;
  padding: 5px 10px 15px 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #333333;
  border-style: groove;
  background-image: url(https://dictionary.cambridge.org/images/thumb/blue_noun_001_01604.jpg?version=5.0.274.jpg);
  background-size: 100% 100%;
  cursor: crosshair;
}
